{% extends 'shop/basic.html' %}

{% block style %}

{% endblock %}

{% block title %}Shop Home{% endblock %}

{% block aadditem %}active{% endblock %}

{% block body%}



<div class="container my-3">

  <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
  <div class="form-group">
    <label for="exampleFormControlInput1">Product Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="name" placeholder="Enter your product name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Select category</label>
    <select class="form-control" id="exampleFormControlSelect1" name="category">
      <option>Mobile & Tablets</option>
      <option>Clothing</option>
      <option>Electronic accessories</option>
      <option>Grocery</option>
      <option>Home Decoration</option>
    </select>
  </div>
   <div class="form-group">
    <label for="exampleFormControlInput1">Price</label>
    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Price" name="price">
  </div>
   <div class="form-group">
    <label for="exampleFormControlInput1">Upload a image of product</label>
    <input type="file" class="form-control-file" id="exampleFormControlInput1" name="myimage">
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description about Product</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="desc"></textarea>
  </div>
   <br>
   <button type="submit" class="btn btn-primary">Add Product</button>
</form>




</div>



{% endblock %}


